/* You can add global styles to this file, and also import other style files */
$green: rgb(30, 168, 30);
$light: #fcebeb;
$red: rgb(243, 59, 59);
$blue: rgb(7, 16, 63);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}